
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@theme {
  --color-surface-container: #F1EDEC;
  --color-surface: #FFFBFE;
  --color-surface-container-lowest: #FFFFFF;
  --color-surface-container-low: #F6F3F2;
  --color-surface-container-highest: #E5E2E1;

  --color-on-tertiary-container: #6B373F;

  --color-on-surface: #1C1B1B;
  --color-on-surface-variant: #454743;
  --color-primary: #A62E71;
  --color-on-primary: #FFFFFF;
  --color-on-primary-container: #FFFFFF;
  --color-secondary: #625B71;
  --color-on-secondary: #FFFFFF;
  --color-on-tertiary--container: #6B373F;
  --color-error: #BA1A1A;
  --color-error-opacity-08: #B3261E14;

  --color-neutral: #000000;
  --color-neutral-60: #929090;

  --color-outline-variant: #C6C7C1;

  /* font */
  --default-font-family: 'Poppins', sans-serif;

  --text-title-large: 20px;
  --text-title-medium: 18px;
  --text-title-small: 14px;

  --text-body-large: 15px;
  --text-body-medium: 14px;
  --text-body-small: 12px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --line-height-base: 1.5;
}

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;
  height: 100vh;

  color-scheme: light dark;
  background-color: #E5E2E1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leftSection {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(5, auto); /* 5 columns */
  gap: 1rem; 
  margin: 2rem;
  padding: 2rem;
  border-radius: 8px;
  background: var(--color-surface-container-lowest);
}
.rightSection {
  display: flex;
  max-width: 361px;
  width: 30vw;
  box-sizing: border-box;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  background: var(--color-surface-container-lowest)
}

.iconTextPair {
  display: flex;
  align-items: center;
  gap: 0.25rem; /* space-x-1 is 0.25rem */
  min-width: 0;
}

.receipt {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;           
  width: 100%;
  height: 100%;
  padding: 1rem 0;                
  background: var(--color-surface-container-lowest);
  border-radius: 8px;             
}

.receipt-title {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--text-title-medium);
  border-bottom: 1px solid var(--color-outline-variant);
  padding-bottom: 0.5rem;
}

.receipt-info {
  margin-top: 0.5rem;
  font-size: var(--text-body-large);
  text-align: center;
}

.receipt-summa {
  width: 100%;
  text-align: center;
  border-top: 1px solid var(--color-outline-variant);
  padding: 0.5rem 0;
  font-weight: 600;
  font-size: var(--text-title-small);
}

.swipeCardItem {
  width: 100%;
  height: 84px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  cursor: grab;
  padding: 0 20px;
  background: var(--color-surface-container);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75px;
  height: 92px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--color-outline-variant);
  flex-shrink: 0;
  position: relative;
}

.cardClick {
  border: 1px solid var(--color-error);
}

.cardClickNormal {
  border: 1px solid var(--color-outline-variant);
  background-color: var(--color-surface-container);
}

.cardSelected {
  border: 1px solid var(--color-error);
  background-color:var(--color-error-opacity-08) ;
}

.header {
  width: 100%;
  height: 8.5vh;
  background-color: var(--color-surface-container); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; 
}


.button {
  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button .icon {
  width: 18px;
  height: 18px;
}

.badge {
  position: absolute;
  top: 0.8rem;
  right: 7.5rem;
  width: 1.25rem;  /* adjust as needed */
  height: 1.25rem;
  pointer-events: none; /* so clicks pass through */
  user-select: none;
}

/* Typography */
.titleLarge {
  font-size: var(--text-title-medium);
  font-weight: var(--font-weight-medium);
  font-family: var(--default-font-family);
  line-height: var(--line-height-base);
  color: var(--color-on-surface);
}

.bodyLarge {
  font-size: var(--text-body-large);
  font-weight: var(--font-weight-regular);
  font-family: var(--default-font-family);
  line-height: var(--line-height-base);
  color: var(--color-on-surface);
}

@media (max-width: 768px) {
  .leftSection{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
  }

  .card{
    width: 100%;
    height: auto;  
  }
  .rightSection {
    width: 100%;
    max-width: 100%; 
    min-width: auto;
  }
  .receipt {
    width: 100%;
    height: auto; 
  }

  .flexContainer {
    display: flex;
    flex-direction: column;
  }
}